# Final Project Submission

* Student Name: Alan Muchiri
* Student Pace: Full Time
* Scheduled Project Review Date/Time:
* Instructor Name: Ms. Mwikali
* Blog Post URL: https://github.com/Alanmuchiri/Phase1-Project

## Data Cleaning
### Loading Data

We begin by importing the necessary library (pandas) and loading the aviation dataset into a DataFrame. This step allows us to inspect and manipulate the data efficiently.

In [136]:
import pandas as pd
df = pd.read_csv("Aviation_Data.csv")
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_20976\4189491189.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Aviation_Data.csv")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

### Data Inspection

Before cleaning, it’s important to understand the dataset:

In [137]:
df.shape   #shows the number of rows and columns.

df.info()   #provides information about column types and non-null counts.

df.isna().sum().sort_values(ascending=False)  #helps identify columns with missing values.

df.columns #lists all column names for easier selection.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

### Selecting Relevant Columns

We narrow down the dataset to only the columns relevant for our analysis.

In [138]:
cols = [
    "Make",
    "Model",
    "Number.of.Engines",
    'Purpose.of.flight',
    "Weather.Condition",
    "Event.Date",
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured"
]

df = df[cols]
df.isna().sum()

Make                       1522
Model                      1551
Number.of.Engines          7543
Purpose.of.flight          7651
Weather.Condition          5951
Event.Date                 1459
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
dtype: int64

### Standardizing Data

Text data often contains inconsistencies such as extra spaces or irregular capitalization. We standardize important text columns by stripping whitespace and converting them to title case.

In [139]:
text_cols = ['Make', 'Model','Purpose.of.flight',"Weather.Condition"]

for col in text_cols:
    df[col] = df[col].str.strip().str.title()

C:\Users\Admin\AppData\Local\Temp\ipykernel_20976\1262608719.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.strip().str.title()

### Handling Null Values

* For injury-related columns, missing values are replaced with 0 because a null entry likely indicates no injuries reported.

* Unknown placeholders such as "UNK", "Unknown", "N/A", or empty strings are converted to pandas.NA to mark them as missing.

* Rows missing critical aircraft information (Make, Model, Weather.Condition) are dropped because they are essential for analysis.

In [140]:
injury_cols = [
    'Total.Fatal.Injuries',
    'Total.Serious.Injuries',
    'Total.Minor.Injuries',
    'Total.Uninjured'
]

df[injury_cols] = df[injury_cols].fillna(0)
df = df.replace(["UNK","Unk","Unknown", "N/A", ""], pd.NA)
df = df.dropna(subset=['Make','Model',"Weather.Condition",'Number.of.Engines'])
df.info()

C:\Users\Admin\AppData\Local\Temp\ipykernel_20976\2811173067.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[injury_cols] = df[injury_cols].fillna(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80331 entries, 2 to 90345
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    80331 non-null  object
 1   Model                   80331 non-null  object
 2   Number.of.Engines       80331 non-null  float64
 3   Purpose.of.flight       72244 non-null  object
 4   Weather.Condition       80331 non-null  object
 5   Event.Date              80331 non-null  object
 6   Total.Fatal.Injuries    80331 non-null  float64
 7   Total.Serious.Injuries  80331 non-null  float64
 8   Total.Minor.Injuries    80331 non-null  float64
 9   Total.Uninjured         80331 non-null  float64
dtypes: float64(5), object(5)
memory usage: 6.7+ MB

## Data Manipulation
### Creating a Severity Factor

We define a severity score to quantify the overall impact of an incident:

* Fatal injuries are weighted 5 times.

* Serious injuries are weighted 3 times.

* Minor injuries are weighted 1 time.

This allows us to rank incidents based on severity.

In [141]:
df['Severity.Score'] = (
    5 * df['Total.Fatal.Injuries'] +
    3 * df['Total.Serious.Injuries'] +
    1 * df['Total.Minor.Injuries']
)

### Date Processing

The Event.Date column is converted to a proper datetime format, and a new column Year is created to analyze trends over time.

In [142]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')
df['Year'] = df['Event.Date'].dt.year   #converts date to year
df = df[df['Year'] >= 1985]    #keeps only recent data from 1985 onwards to ensure relevance.

### Sorting According to Frequency

To simplify analysis, we focus on the most common makes, models, engines, and flight purposes:

* Top 5 aircraft makes

* Top 10 models

* Top 5 engine configurations

In [ ]:

top_models = df['Model'].value_counts().head(10).index


df_top = df[df['Model'].isin(top_models)]

# Get top 10 most common flight purposes
top_purposes = df['Purpose.of.flight'].value_counts().head(10).index

# Group all other purposes as 'Other'
df_top['Purpose_Grouped'] = df_top['Purpose.of.flight'].where(
    df['Purpose.of.flight'].isin(top_purposes),
    'Other'
)


df_top = df_top[~((df_top['Make'] == 'Piper') & (df_top['Model'] == '180'))]  #Remove unwanted row with misplaced entry
df_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8421 entries, 10621 to 90324
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    8421 non-null   object
 1   Model                   8421 non-null   object
 2   Number.of.Engines       8421 non-null   float64
 3   Purpose.of.flight       8255 non-null   object
 4   Weather.Condition       8421 non-null   object
 5   Event.Date              8421 non-null   datetime64[ns]
 6   Total.Fatal.Injuries    8421 non-null   float64
 7   Total.Serious.Injuries  8421 non-null   float64
 8   Total.Minor.Injuries    8421 non-null   float64
 9   Total.Uninjured         8421 non-null   float64
 10  Severity.Score          8421 non-null   float64
 11  Year                    8421 non-null   int64
 12  Purpose_Grouped         8421 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 921.0+ KB

C:\Users\Admin\AppData\Local\Temp\ipykernel_20976\2271578550.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top['Purpose_Grouped'] = df_top['Purpose.of.flight'].where(

### Saving Cleaned Data

The cleaned and filtered dataset is saved as a new CSV file for further analysis.

In [144]:

df_top.to_csv("aviation_cleaned.csv", index=False)
df_top.isna().sum()

Make                        0
Model                       0
Number.of.Engines           0
Purpose.of.flight         166
Weather.Condition           0
Event.Date                  0
Total.Fatal.Injuries        0
Total.Serious.Injuries      0
Total.Minor.Injuries        0
Total.Uninjured             0
Severity.Score              0
Year                        0
Purpose_Grouped             0
dtype: int64